.timer {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
  background-color: #282828;
}
.timer__btn {
  width: 50%;
  height: 2rem;
  background-color: #3b3a3a;
  border-radius: 15px;
  border: none;
  box-shadow: 2px 2px 10px white;
  color: white;
  font-size: large;
}
.timer__input {
  width: 50%;
  height: 2rem;
  border-radius: 15px;
  text-align: center;
}

.timer__display {
  height: 65px;
  font-size: 4rem;
  color: white;
}
